.item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}
.item-head h2{
    font-size: 30px;
    display: block;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 22px;
    font-family: "Playfair Display", serif;
    color: #1a1a1a;
}
.item-all  button{
    color: #454E6D;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    padding: 7px 24px;
    margin-right: 8px;
    border: 1px solid #EEE1E0;
    background-color: #fff;
    border-radius: 20px;
}
.item-all button:last-child{
    background-color: #FF1616;
    color: #fff;
    border: 1px solid transparent;
}
.moon-head{
    width: 16%;
    background-color: #fff;
    margin-top: 10px;
    border: 1px solid #a7a8ab;
}
.moon-head:hover{
    cursor: pointer;
    // box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}
.moon-head:hover h5{
    color: #FF1616;
    cursor: pointer;
}
.moon-item{
    padding: 20px;
}
.moon-head img{
    width: 100%;
}
.moon-head h5{
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 6px;
    font-family: "Playfair Display", serif;
}
.moon-head p{
    color: #9498A7;
    font-size: 14px;
    margin-bottom: 11px;
    font-family: "Roboto", sans-serif;
    color: #301A22;
    font-weight: 300;
    line-height: 1.6;
}
.star-head{
    display: flex;
    justify-content: space-between;
   
}
.star-head span{
    display: inline-block;
    color: #9498A7;
    font-size: 14px;
}
.star-head span span{
    color: #FF1616;
}
.star-head p{
    cursor: pointer;
    font-weight: 500;
    color: #FF1616;
    font-size: 22px;
}
.star-head .star-item .star-title i{
  color: #FF1616;

}